In [44]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
pd.options.display.max_rows = 10

In [31]:
engine = create_engine('postgresql://postgres:*******@35.228.159.171/postgres')

In [35]:
origin = pd.read_csv('origin.csv')
synonym = pd.read_csv('synonym.csv')

In [36]:
origin.head(3)

      word  id
0        а   1
1  а-конто   2
2     а-ля   3

In [45]:
synonym.head(3)

   id  id_inner     syn
0   1         1      но
1   1         2  однако
2   1         3   буква

In [46]:
origin.to_sql('origin', engine)
synonym.to_sql('synonym', engine)